#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}









.banner-container {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(55%); 
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.9);
}

.banner-text h1 {
  font-size: 2.5rem;
  margin: 0;
}

.banner-text p {
  font-size: 1.2rem;
  margin-top: 10px;
}


.navbar-button {
  padding: 5px 10px;
  font-size: 0.8rem;
  height: 40px;
}


.pizzas-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.pizzas-flex > * {
  width: 300px;
}



/* Card general */
.pizza-card {
  width: 280px;         /* permite 3 por fila */
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  background: white;
}

/* Imagen */
.pizza-img {
  width: 100%;
  border-radius: 10px;
}

/* Botones dentro de la card */
.pizza-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.ingredientes-lista {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ingredientes-lista li {
  font-size: 0.9rem;
}
